<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="vip-package-item" :class="membershipInfo.id == item.id ? 'vip-package-selected':''"
                v-for="(item,index) in VIPpackageData"              :key="item.id"
                @click="selectPackage($event,index,item)">
        <div v-if="index !== 0 || index === 0 && !zdxf">
            <img class="icon" v-if="item.corner_icon" :src="item.corner_icon" alt  />
                <p class="hot" v-if="item.corner_mark">{{item.corner_mark}}</p>
                <p class="type">{{item.name}}</p>
                <p class="price">￥<span>{{item.price}}</span></p>
                <p class="or-p" v-if="item.origin_price">￥<span>{{ parseFloat( item.origin_price).toFixed(2) }}</span>
            </p>
        </div>
    </div>
</body>
<script>
let dataList = [
	{id: "1", name: "组织1",checked: false, children: [
		{id: "2",name: "组织1-1",checked: false, children: [
			{id: "5",name: "组织1-1-1",checked: false, children: [
				{id: "6",name: "组织1-1-1-1",checked: false,},
				{id: "7",name: "组织1-1-1-2",checked: true,}
			]}
		]},
		{id: "3",name: "组织1-2",checked: false,children: [
			{id: 5,name: "组织1-2-1",checked: true}
		]}
	]},
	{id: "3", name: "组织2",checked: true,children: [
		{id: "4",name: "组织2-1",checked: false,},
		{id: "4",name: "组织2-2",checked: true, children: [
			{id: 5,name: "组织2-2-1",checked: true, children: [
				{id: 5,name: "组织2-2-1-1",checked: false,},
				{id: 5,name: "组织2-2-1-2",checked: false,}
			]}
		]},
	]},
	{id: "3", name: "组织3",checked: true,children: [
		{id: "4",name: "组织3-1",checked: true,children: [
			{id: "4",name: "组织3-1-1",checked: true, children: [
				{id: "4",name: "组织3-1-1-1",checked: true,children: [
					{id: "4",name: "组织3-1-1-1-1",checked: false,},
					{id: "4",name: "组织3-1-1-1-2",checked: true,},
				]},
				{id: "4",name: "组织3-1-1-2",checked: false,}
			]},
		]},
	]}
]
function deguisetChecked(arr) {
	arr.forEach(item => {
		setObjChecked(item);
		if(item.children && item.children.length) {
			deguisetChecked(item.children)
		}
	})
}
function setObjChecked(obj_) {
	let yuan = obj_.checked;
	function setChecked(obj) {
		if(obj.children && obj.children.length !==0) {
			let ziArr = getDeepSon(obj.children);
			for(let i = 0; i < ziArr.length; i++) {
				if(ziArr[i].checked) {
					obj_.checked = true;
					return;
				}
			}
			obj_.checked = false;
		} else {
			obj_.checked = yuan;
		}
	}
	setChecked(obj_);
}
function getDeepSon(arr) {
	let arrk = [];
	function pushArrk(arr) {
		arr.forEach(item => {
			if(item.children && item.children.length) {
				pushArrk(item.children)
			} else {
				arrk.push(item);
			}
		})
	}
	pushArrk(arr);
	return arrk;
}
deguisetChecked(dataList)
console.log(dataList)
</script>
</html>